<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style type="text/css">
      img {
        max-width: 100%;
      }

      body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        height: 100%;
        line-height: 1.6em;
        width: 100% !important;
      }

      @media only screen and (max-width: 640px) {
        body {
          padding: 0 !important;
        }
        h1 {
          font-size: 22px !important;
          font-weight: 800 !important;
          margin: 20px 0 5px !important;
        }
        h2 {
          font-size: 18px !important;
          font-weight: 800 !important;
          margin: 20px 0 5px !important;
        }
        h3 {
          font-size: 16px !important;
          font-weight: 800 !important;
          margin: 20px 0 5px !important;
        }
        h4 {
          font-weight: 800 !important;
          margin: 20px 0 5px !important;
        }
        .container {
          padding: 0 !important;
          width: 100% !important;
        }
        .content-wrap {
          padding: 10px !important;
        }
        .footer-wrap {
          padding: 0 !important;
          width: 100% !important;
        }
      }
    </style>
  </head>

  <body itemscope itemtype="http://schema.org/EmailMessage" style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,Helvetica,Arial,sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; margin: 0;">
    <table class="body-wrap" style="width: 100%; margin: 0;">
      <tr style="margin: 0;">
        <td class="container" style="display: block !important; clear: both !important; margin: 0 auto;" valign="top">
            <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction" style="text-align:left; margin: 0;">
                {{ content_for_layout }}
            </table>
        </td>
      </tr>
    </table>
    <table class="footer-wrap" style="width: 25%; margin: 0;">
     <tr style="margin: 0;">
        <td class="container" style="display: block !important; clear: both !important; margin: 0 auto;" valign="top">
            <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction" style="text-align:left; margin: 0;">
                <div style="border-top: 1px solid #ccc; padding-top: 10px; margin-top: 20px; color: #999; font-size: 12px; text-align: left;">
                    Powered by <a href="https://www.onehash.ai/chat?utm_source=onehash_chat_reply&utm_medium=email&utm_campaign=inapp" target="_blank" style="color: #999; text-decoration: none;">OneHash Chat</a>
                </div>
            </table>
        </td>
      </tr>
    </table>
  </body>
</html>
