<p>Hi,</p>

<p>Your account password is:</p>

<h2 style="letter-spacing: 2px; font-size: 1.5em; margin: 16px 0;">
  {{ meta['password'] }}
</h2>

<p>Please update the password by logging into your account with this password</p>